.applies-container {
  display: flex;
  justify-content: center;
  padding: 48px 24px;
}

.apply-content {
  max-width: 1152px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.apply-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.apply-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.apply-box button {
  color: #00c26d;
  background-color: white;
  border: none;
  max-width: fit-content;
}

.apply-box button:hover {
  text-decoration: underline;
}